body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Poppins',
        sans-serif;
    color: hsl(234, 12%, 34%);
    background-color: hsl(0, 0%, 98%);
}

.text-area {
    h1 {
        font-size: 27px;
        font-weight: 200;
        margin: 10px 0 0 0;

    }

    h2 {
        font-size: 28px;
        margin: 0;

    }

    p {

        width: 550px;
        text-align: center;
        margin: 10px auto;

    }
}


.talas {
    h1 {
        font-size: 20px;
    }

    p {
        width: 400px;
        font-size: 12px;
    }

    display: inline-block;
    margin: 20px;
    background-color: white;
    position: relative;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 4px solid black;
    border-radius: 4px;
    padding: 20px;


    img {
        height: 40px;
        position: relative;
        left: 340px;

    }


}

.part1 {
    border-top: 4px solid hsl(180, 62%, 55%);
    position: relative;
    top: 100px;
}

.part2 {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.part3 {
    border-top: 4px solid hsl(34, 97%, 64%);
    position: relative;
    top: 100px;
}

.part4 {
    border-top: 4px solid hsl(212, 86%, 64%);
}

@media screen and (max-width: 990px) {
    .part3 {
        border-top: 4px solid hsl(34, 97%, 64%);
        position: relative;
        top: 0;
    }

    .part1 {
        border-top: 4px solid hsl(180, 62%, 55%);
        position: relative;
        top: 0px;
    }


}